<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script src="https://kit.fontawesome.com/aa9ef6e091.js" crossorigin="anonymous"></script>
    <title>Chicholta::Alimentos</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Concert+One&display=swap" rel="stylesheet">
</head>
<body style="padding-top: 120px;">
    
    <header>
        <div class="navbar">
            <div><a href="index.html"><img src="/static/img/logo.jpeg" alt="logo" class="logo"></a></div>                  
            <div><a class="nav" href="index.html">Inicio</a></div>
            <div><a class="nav" href="#">Productos</a></div>
            <div><a class="nav" href="#">Contáctenos</a></div>
            <div><a class="button-nav" href="login.html" style="color: #1f4679;">Ingresar</a></div>
            <div><a class="button-nav" href="singUp.html" style="color: #1f4679;">Registrarse</a></div>
        </div>
    </header>

    <section id="contenedor">
        <section id="nosotros">
            
            <div class="nosotros-content">
                <div id="formas">
                    <img src="/static/img/mision.jpeg" alt="img-mision">
                </div>
                <div>
                    <div>
                        <h1>Nuestra Compañía</h1>
                    </div>
                    <p>Ser una empresa sólida, de fuertes valores y adecuada rentabilidad, que busca satisfacer las necesidades de nuestros clientes trabajando eficientemente y con calidad en la producción y comercialización de ingredientes para la industria alimenticia, con amplia cobertura en el mercado nacional y presencia en el mercado internacional, buscando el bien común de la sociedad y el bien particular de quienes colaboramos con ella.</p>
                </div>            
            </div>
        </section>

        <section id="mision">
            
            <div class="mision-content">
                <div>
                    <div>
                        <h1>Misión</h1>
                    </div>
                    <p>Ser un empresa sólida, de fuertes valores y adecuada rentabilidad, que busca satisfacer las necesidades de nuestros clientes trabajando eficientemente y con calidad en la producción y comercialización de ingredientes para la industria alimenticia, con amplia cobertura en el mercado nacional y presencia en el mercado internacional, buscando el bien común de la sociedad y el bien particular de quienes colaboramos con ella.</p>
                </div> 
                <div>
                    <img src="/static/img/mision.jpeg" alt="img-mision">
                </div>           
            </div>
        </section>
    
        <section id="vision">
            <div class="vision-content">
                <div>
                    <img src="/static/img/vision.jpeg" alt="img-vision">
                </div>
                <div>
                    <div>
                        <h1>Visión</h1>
                    </div>
                    <p>Ser líderes en soluciones en ingredientes con valor agregado para la industria alimenticia, convirtiéndonos en socios estratégicos de nuestros clientes y proveedores.</p>
                </div>          
            </div>
        </section>

        <section id="valores">
            <div class="valores-content">
                <div>
                    <p> 
                        <div>
                            <h1>Valores y Principios</h1>
                        </div>
                        Responsabilidad <br>
                        Ser consciente de nuestras palabras, decisiones o actos, libre de decidir para cumplir un compromiso.<br><br>  
                        Trabajo <br>
                        Esfuerzo físico e intelectual que perfecciona a la persona, encaminado a un bien común.<br><br>
                        Eficiencia <br>
                        Realizar buen una función, generando más con el uso moderado de los recursos.<br><br>
                        Espíritu de Servicio <br>
                        Ser útil y colaborar en alguna actividad para satisfacer una necesidad.<br><br> 
                        Calidad <br>
                        Actitud permanente de satisfacer y superar las expectativas del cliente interno y externo.
                    </p>
                </div> 
                <div>
                    <img src="/static/img/valores.jpeg" alt="img-valores">
                </div>         
            </div>
        </section>

    </section>


    <footer>
        <div>copyright Todos los derechos reservados</div>
    </footer>


    
</body>
</html>